.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgba(rgb(157, 66, 66), green, blue, alpha);
}
.sop {
    border: 1px solid black;
}

.item1 {
    width: 100px;
    background-color: rgb(79, 79, 181);
}

.item2 {
    background-color: brown;
    width: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item3 {
    background-color: chocolate;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

